:root,
[data-theme="default"] {
  --background-body-color: #262626;
  --font-color: white;
  --border-color: #adadad;
  --box-color: #3c3c3c;
  --img-background: black;
  --description-color: #dcdcdc;
  --author-color: rgb(43, 173, 216);
  --box-height: 390px;
  --box-width: 215px;
}

[data-theme="light"] {
  --background-body-color: #e9e9e9;
  --font-color: black;
  --border-color: #525252;
  --box-color: #c3c3c3;
  --img-background: white;
  --description-color: #232323;
  --author-color: #d45227;
}

body {
  background-color: var(--background-body-color);
  padding: 2em;
  color: var(--font-color);
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

body .wrapper .site-title {
  font-size: calc(28px + (32 - 28) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Trebuchet MS";
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.5em;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

body .wrapper .switch {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  width: 60px;
  height: 34px;
}

body .wrapper .switch #toggle_action {
  display: none;
}

body .wrapper .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .wrapper .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .wrapper .switch input:checked + .slider {
  background-color: rgba(39, 35, 35, 0.986);
}

body .wrapper .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

body .wrapper .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px;
          box-shadow: 0 0 1px;
}

body .wrapper .switch .slider.round {
  border-radius: 34px;
}

body .wrapper .switch .slider.round:before {
  border-radius: 50%;
  background-color: #aaaaaa;
}

body .wrapper .search-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 1.5em;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

body .wrapper .search-container #search {
  height: auto;
  background-color: var(--background-body-color);
  padding: 0.3em 0.5em;
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: var(--font-color);
  border: 2px solid var(--border-color);
  border-top: var(--background-body-color);
  border-left: var(--background-body-color);
  border-right: var(--background-body-color);
}

body #news-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 1em;
  margin-top: 2em;
  padding: 0;
  list-style-type: none;
}

body #news-articles .container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--box-height);
  width: var(--box-width);
  background-color: var(--box-color);
  padding: 0.8em;
  border-radius: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5em;
}

body #news-articles .container:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body #news-articles .container .article {
  width: var(--box-width);
  height: var(--box-height);
  overflow: hidden;
}

body #news-articles .container .article .article-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: var(--box-height);
  width: var(--box-width);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--font-color);
  text-decoration: none;
  gap: 1em;
}

body #news-articles .container .article .article-link .img_area {
  display: -ms-grid;
  display: grid;
  background-color: var(--img-background);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
  width: var(--box-width);
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #news-articles .container .article .article-link .img_area img {
  max-width: 100%;
  max-height: 180px;
}

body #news-articles .container .article .article-link .article-title {
  overflow: hidden;
  font-size: 19px;
  padding: 0;
  margin: 0;
  height: 75px;
  width: var(--box-width);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

body #news-articles .container .article .article-link .article-description {
  color: var(--description-color);
  padding: 0;
  margin: 0;
  height: 65px;
  width: var(--box-width);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body #news-articles .container .article .article-link .article-author {
  font-family: "Trebuchet MS";
  color: var(--author-color);
  width: var(--box-width);
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

body #news-articles .not-found,
body #news-articles .load {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  color: var(--font-color);
  font-size: calc(22px + (25 - 22) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  body #news-articles {
    -ms-grid-rows: (1fr)[20];
        grid-template-rows: repeat(20, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body #news-articles .not-found,
  body #news-articles .load {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

@media only screen and (min-width: 576px) {
  body #news-articles {
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body #news-articles .not-found,
  body #news-articles .load {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 830px) {
  body .wrapper {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .wrapper .site-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  body .wrapper .switch {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / span 4;
  }
  body .wrapper .search-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  body #news-articles {
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body #news-articles .not-found,
  body #news-articles .load {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

@media only screen and (min-width: 1100px) {
  body #news-articles {
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body #news-articles .not-found,
  body #news-articles .load {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media only screen and (min-width: 1340px) {
  body #news-articles {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  body #news-articles .not-found,
  body #news-articles .load {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
}
/*# sourceMappingURL=index.css.map */